<h1>Done</h1>
<p><%= link_to "New Upload", :controller => "file_uploads", :action => "new" %></p>
<% @arr.each do |element| %>
  <p>
    <p><%= link_to element, controller: "file_uploads", action: "show", id: element.to_s %></p>
    <!--<a href="file:///<%= element %>">element</a>-->
  </p>
<% end %>