
<%= form_tag(sessions_path) do %>

  <div class="field">
    <p>Usename</p>
    <br>
    <input type="text" name="username">
  </div>
  <div class="actions">
    <input type="submit">
  </div>
  
  <%= link_to "New User", :controller => :authentications, :action => :new %>
<% end %>
