<%= form_for :authentications, url: authentications_path do |f| %>
  <div class="field">
    <%= f.label :username %><br>
   <input type="text" name="username">
  </div>
  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>
